$main-bcg-color: #ffffff;
$secondary-bcg-color: #f5f4fa;
$footer-bcg-color: #2f303a;
$hero-bcg-color: #2f303a;
$secondary-text: #212121;
$main-text: #757575;
$accent-color: #2196f3;
$secondary-text-color: #ffffff;
$footer-link: rgba(255, 255, 255, 0.6);

$margin-flex-container: 30px;

$time-line-translate: 250ms cubic-bezier(0.4, 0, 0.2, 1);
