.command {
  @include padding-top-bottom();

  text-align: center;
  background-color: $secondary-command-color;

  &-list {
    @extend %ul;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-title {
    margin: 0;
    margin-bottom: 50px;
    color: $primary-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }

  &-item {
    width: 270px;

    background-color: $primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &-section-title {
    margin: 0;
    margin-bottom: 10px;

    color: $primary-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  &-text {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  &-img {
    margin-bottom: $card-table;
  }
}

.section-client {
  @include padding-top-bottom;
}

// Социальные сети

.social-network {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
  margin-left: 32px;
  margin-right: 32px;
}

.link-network {
  @include box-flex();

  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;

  transition: background-color $transformation-time;

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $primary-white-color;
  }
}
