.footer {
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  padding: 0;

  background-color: $secondary-color;

  &-flex {
    display: flex;
    flex-direction: column;
  }
}

.desktop {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.tablet {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
  }
}

.address {
  padding: 0;
  font-style: normal;

  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 60px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-left: 61px;
    margin-bottom: 60px;
  }

  &-link {
    margin: 0;
  }

  &-text {
    margin: 0;

    color: $primary-white-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    margin-bottom: 8px;

    @media screen and (min-width: $desktop) {
      margin-bottom: 9px;
    }
  }
}

.address-footer-link {
  color: $footer-link-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  transition: color $transformation-time;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  margin-bottom: 8px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 9px;
  }
}

// Социальные сети

.network-footer {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-left: 165px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 70px;
  }

  &-text {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;

    color: $primary-white-color;
  }

  &-container {
    display: flex;
  }
}

.network-footer-container {
  @media screen and (max-width: 1199px) {
    justify-content: center;
    margin-bottom: 60px;
  }
}

.network-footer-link {
  @include box-flex();

  margin-left: 10px;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: $primary-white-color;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color $transformation-time;

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $primary-white-color;
  }

  &:first-child {
    margin-left: 0;
  }
}

// Подписаться

.join-footer {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.form-footer {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
  &-input {
    width: 100%;

    @media screen and (max-width: 1199px) {
      margin-bottom: 20px;
      max-width: 450px;
    }

    @media screen and (min-width: $desktop) {
      width: 358px;
    }

    margin: 0;
    padding: 15px 16px;
    display: inline-block;

    color: $primary-white-color;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
  }
}

.form-footer-btn {
  @include box-flex();

  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 12px;
  }

  border: 1px solid transparent;
  text-align: center;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 29px 10px 28px;

  color: $primary-white-color;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;

  transition: color $transformation-time, background-color $transformation-time;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $primary-white-color;
    border: 1px solid transparent;
    fill: $accent-color;
  }
}

.form-footer-svg {
  margin-left: 10px;

  fill: white;

  transition: fill $transformation-time;

  .form-footer-btn:hover &,
  .form-footer-btn:focus & {
    fill: $accent-color;
  }
}
