.btn-work {
  border-radius: 4px;
  padding: 6px 22px;
  margin: 0;
  display: inline-block;
  text-align: center;
  border-color: transparent;
  min-height: 38px;

  color: $secondary-text;
  background-color: $secondary-bcg-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  cursor: pointer;

  transition: background-color $time-line-translate, color $time-line-translate;

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);

    color: $secondary-bcg-color;
    background-color: $accent-color;
  }
}

// Флекс бокс

.btn-list {
  @extend %ul;

  display: flex;
  flex-wrap: wrap;

  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-bottom: 50px;

    & .btn-title + .btn-title {
      display: block;
      margin-left: 8px;
    }
  }
}

.btn-title {
  margin-right: 8px;
  margin-bottom: 0;

  &:nth-child(-n + 3) {
    margin-bottom: 15px;
  }

  &:nth-last-child(1) {
    margin-right: 0px;
  }
}
