body {
  font-family: Roboto, sans-serif;
  background-color: $main-bcg-color;
  color: $main-text;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

.container {
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

/* Утилиты */

:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
